<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="ContactsByBusinessNameController">Skutta.AccountReporting.Controllers.ContactsByBusinessNameController, Skutta.AccountReporting</allowedController>
            <allowedController desc="PageViewsByBusinessNameController">Skutta.AccountReporting.Controllers.PageViewsByBusinessNameController, Skutta.AccountReporting</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <commands>
      <command name="item:redeployfilter" type="Skutta.AccountReporting.Commands.RedeployFilterCommand,Skutta.AccountReporting" />
    </commands>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{82DE896C-0947-4CE1-80B7-50138095BAFE}" type="Skutta.AccountReporting.Aggregation.Dimensions.ByBusinessName, Skutta.AccountReporting" />
        </dimensions>
      </aggregation>
    </experienceAnalytics>
    <pipelines>
      <httpRequestBegin>
        <processor type="Skutta.AccountReporting.Pipelines.HttpRequest.RedirectExperienceProfileContactRequest,Skutta.AccountReporting" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <initialize>
        <processor type="Skutta.AccountReporting.Pipelines.Initialize.InitializeRoutes, Skutta.AccountReporting" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
        <processor type="Skutta.AccountReporting.Pipelines.Initialize.WebApiInitializer, Skutta.AccountReporting" patch:after="processor[@type='Sitecore.ExperienceAnalytics.Api.Pipelines.Initialize.WebApiInitializer, Sitecore.ExperienceAnalytics']"/>
      </initialize>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Skutta.AccountReporting.Aggregation.Pipelines.ContactsByAccountProcessor, Skutta.AccountReporting" />
            <processor type="Skutta.AccountReporting.Aggregation.Pipelines.PageViewsByAccountProcessor, Skutta.AccountReporting" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>
    <settings>
      <setting name="Skutta.AccountReporting.SafeModeEmailTo" set:value="" />
      <setting name="Skutta.AccountReporting.SafeModeEmailFrom" set:value="" />
      <!--<setting name="Skutta.AccountReporting.DisableSafeMode" set:value="true" />-->
    </settings>
  </sitecore>
</configuration>